#@ Placement
#-    Configure a placement constraint to where the container will be run.
#-    Examples:
#-        - node.hostname==<hostname>
#-        - engine.labels.fs-access.<worker-hostname>.mnt==true
#-        - node.role!=manager
PLACEMENT_CONSTRAINT=node.platform.os==linux
CRON_SCHEDULE=0 3 * * 0
FILTER_IMAGE=label!=keep
FILTER_BUILD_CACHE=label!=keep
